html {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 50px;
}
a {
    font-size: 16px;
    color: aquamarine;
}
h2 {
    font-weight: 300;
    font-size: 42;
}
p {
    color: grey;
}